<h1>Welcome To My Movie Rating Page From OMDB API</h1>

<form action="/movieInfo" method="GET">
    <input type="text" name="wantedMovie" placeholder="Search for Movie">
    <button>GO!</button>
</form>